extends layout

block content
	section.slider
		#myCarousel.carousel.slide.carousel-fade(data-ride='carousel')
			// Indicators
			.carousel-inner
				.item
					img(data-src='images/slider/slider1.jpg', alt='First slide', src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/slider/slider1.jpg')
					.container
						.carousel-caption
							h1
								| Vivamus ultricies volutpat egestas. Donec 
								span turpis non eros
								|  euismod
							p
								| Aliquam sit amet lectus sagittis, feugiat neque dictum, rutrum augue. Integer vel egestas urna.
							p
								a.btn.btn-default(href='#', role='button') more details
				.item.active
					img(data-src='images/slider/slider2.jpg', alt='Second slide', src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/slider/slider2.jpg')
					.container
						.carousel-caption
							h1
								| Donec 
								span volutpat mattis
								|  odio. Quisque eros. Nullam malesuada.
							p
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
							p
								a.btn.btn-default(href='#', role='button') get started
			a.left.carousel-control(href='#myCarousel', data-slide='prev')
				span.glyphicon.carousel-control-left
			a.right.carousel-control(href='#myCarousel', data-slide='next')
				span.glyphicon.carousel-control-right
	// end of sldier section
	section.main__middle__container
		.container
			.row
				h2.text-center
					| Phasellus ultrices nulla quis nibh. Quisque a lectus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				p.text-center.big-paragraph Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
		.text-center.three-blocks
			.container
				h2
					span our services
				.row
					.col-md-4
						img.icon(src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/icons/ico1.png', alt='icon')
						h3 CLEAN FLAT & MINIMAL
						img.img-rounded.img-responsive(src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/content__images/img1.jpg', alt='image')
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
					.col-md-4
						img.icon(src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/icons/ico2.png', alt='icon')
						h3 FULLY RESPONSIVE
						img.img-rounded.img-responsive(src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/content__images/img2.jpg', alt='image')
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
					.col-md-4
						img.icon(src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/icons/ico3.png', alt='icon')
						h3 EASY TO CUSTOMIZE
						img.img-rounded.img-responsive(src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/content__images/img3.jpg', alt='image')
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
		.service-icons
			.container
				h2.text-center
					span about us
				.row.text-center
					.col-md-6
						h3
							| Donec odio. Quisque volutpat mattis eros.
							| Nullam malesuada erat.
						p
							small Praesent semper mod quis eget mi. Etiam eu ante risus. 
						img.img-rounded.img-responsive(src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/content__images/pic1.jpg', alt='pic1')
						.clearfix
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
						p
							a.btn.btn-info.btn-lg(href='#', role='button') Learn more
					.col-md-6
						h3
							| Etiam eu ante risus. Aliquam erat volutpat.
							| Aliquam luctus mattis.
						p
							small Praesent semper mod quis eget mi. Etiam eu ante risus. 
						img.img-rounded.img-responsive(src='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/images/content__images/pic2.jpg', alt='pic2')
						.clearfix
						p
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
						p
							a.btn.btn-info.btn-lg(href='#', role='button') Learn more
		.row.grey-info-block.text-center
			.container
				h2
					| Pellentesque egestas sem. Suspendisse commodo ullamcorper magna. Pellentesque egestas sem suspendisse commodo ullamcorper ...
				p
					| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi architecto beatae vitae dicta sunt explicabo.
					| Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
					| voluptatem sequi nesciunt.
				p
					a.btn.btn-info(href='#', role='button') Buy it
					a.btn.btn-default(href='#', role='button') Learn More