doctype html
html
	head
		title=title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,100', rel='stylesheet', type='text/css')
		link(href='/css/style.css', rel='stylesheet')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
	body
		header.main__header
			.container
				nav.navbar.navbar-default(role='navigation')
					#bs-example-navbar-collapse-1.collapse.navbar-center.navbar-collapse
						ul.nav.navbar-nav
							li.active
								a(href='/') Inicio
							li
								a(href='/clasificados') Clasificados
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown') Quienes somos
								ul.dropdown-menu
									li
										a(href='/about/objetivos') Objetivos
									li
										a(href='/about/objetivos') Misión
									li
										a(href='/about/objetivos') Nuestro estatuto
									li
										a(href='/about/boletines') Boletines institucionales
									li
										a(href='/about/boletines') Articulos varios
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown') Institución
								ul.dropdown-menu
									li
										a(href='/institucion/organigrama') Organigrama
									li
										a(href='/institucion/galeria-de-presidentes') Galería de Presidentes
									li
										a(href='/institucion/direccion-actual') Dirección actual
									li
										a(href='/institucion/asociaciones-afiliadas') Asociaciones afiliadas
									li
										a(href='/institucion/alianzas') Alianzas
							li
								a(href='/clasificados') Servicios
							li
								a(href='/clasificados') Webmail
					.clr
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						h1.navbar-brand
							a(href='http://www.htmlpreviews.com/cloud/agriculture/theparallex4/index.html')
								span Fede
								| ple
		block content
		footer
			.container
				.row
					.col-md-3
						h3 About
						p
							| FEDEPLE. 
							br
							br
							| If you have any questions about our products or services, please do not hesitate to contact us. We have friendly, knowledgeable representatives available seven days a week to assist you.
					.col-md-3
						h3 Mail
						p Subscríbite para recibir las últimas noticias
						br
						form.form-inline(action='#', method='post', role='form')
							.form-group
								label.sr-only(for='exampleInputEmail2') su email:
								input#exampleInputEmail2.form-control(type='email', placeholder='your email:')
							button.btn.btn-primary(type='submit') subscribirse
					.col-md-3
						h3 Dirección
						p
							| 123 Avenida Mayo
							br
							|           Santa Cruz de la Sierra
							br
							|           Bolivia
							br
							br
							|           Teléfono: (888) 123-4567
							br
							|           Fax: (887) 123-4567
							br
							br
						.social__icons
							a.socialicon.socialicon-twitter(href='#')
							a.socialicon.socialicon-facebook(href='#')
							a.socialicon.socialicon-google(href='#')
			.copy
				p.text-center © Copyright Lolpez. All Rights Reserved.
		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		script.
			$('.carousel').carousel({
				interval: 3500, // in milliseconds
				pause: 'none' // set to 'true' to pause slider on mouse hover
			})
